Page {
  color: white;
  text-align: center;
}

StackLayout {
  vertical-align: middle;
}

.subtitle {
  font-weight: bold;
  margin: 10px;
}

.gallery {
  vertical-align: middle;
}

.name {
  font-size: 30;
  font-style:oblique;
  font-weight: bold;
}

.country {
  font-size: 20;
  font-style: italic;
}

Image {
  margin-left: 15px;
  margin-right: 15px;
}

.banner {
  margin-top: 15px;
}

.bordered_image {
  margin: 3px;
  border-radius: 3px;
  border-width: 3px;
  border-color: white;
}
